/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins';
    border: none;
}
.pad-M{
    padding: 2rem 0;
}

section{
    padding: 4rem 12%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #717b88;
}
.logo{
    font-size: 1.5rem;
    color: #fff;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 1px 1px 8px 2px #00000067;
    background: #717b88;
    z-index: 1000;
    width: 100%;
}

.navbar a, .navbar i{
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 1rem;
    color: #333;
    cursor: pointer;
    letter-spacing: .1rem;
}
.navbar a:hover, .navbar i:hover{
    color: #fff;
}
.btn-agendar{
    padding: 9px 16px;
    background: #f7c602d1;
    font-weight: bold;
    font-size: 1.3rem;
    color: #222;
    border-radius: .9rem;
    box-shadow: 0 0.5rem 3rem 3px #00000033;
}

.icons-mobile-header{
    display: none;
}

.pub-nav{
    display: none;
}


.home{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 95vh;
   gap: 2rem;
   background:url(../assets/img/transferir\ \(1\).png);
  text-align: center;
  
}

.avatar{
    width: 30rem;
    height: 26rem;
}

.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.home .content{
    width: 700px;
    padding: 2rem;
}

.home .content h1  {
   font-size: 3.4rem;
   margin-bottom: .6rem;
   color: #ffffffaa;
   text-shadow: 1px 3px 18px #111111ab;
   letter-spacing: .2rem;
}

.home .content p  {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    line-height: 2.6rem;
    font-weight: 500;
 }

 .home .content a {
    font-size: 1.5rem;
    padding: 9px 19px;
    background: #474bff;
    display: inline-block;
    color: #111;
    font-weight: bold;
    margin-left: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 3rem 3px #00000075;
 }
 .home .content a:nth-child(2) {
    background: #f7c602d1;
 }

 .home .content a:nth-child(3) {
    background: #f7c602d1;
    display: none;
 }

.service{
    padding: 4rem 6% !important;
    background-color: #5152a5;
}

.service h2{
    font-size: 3rem;
    text-indent: 5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 3px 18px #111111ab;
    letter-spacing: .2rem;

}

 .service .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 5rem;
    justify-content: center;
    align-items: center; 
 }

 .service .box{
    box-shadow:0 .5rem 1rem #000000e8;
    padding: 2rem;
    border-radius: .3rem;
    
 }
 .description {
    margin-top: 1rem;
 }
 .description h3{
    font-size: 1.8rem;
    
 }
 
 .description p{
    font-size: 1.4rem;
    
 }

 .service .box .img{
    width: 150px;
    height: 80px;
 }

 .service .box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .7rem;
 }

 .b-doblow{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .b-doblow i{
    font-size: 4rem;
    color: #deb81b;
 }

 .ultimate{
    display: grid;
    grid-template-columns: repeat(auto-fit, 40%);
    justify-content: center;
    align-items: center;
    gap: 8%;
 }

 .ultimate .img {
    height: 400px;
}

 .ultimate .img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: .3rem;
     padding: 1rem;
     background: #00000067;
 }
 .ultimate .content  {
    padding: 2rem 6rem;
 }
 
 .ultimate .content h1, .title {
    font-size: 3rem;
    margin-bottom: .6rem;
    color: #deb81b;
    text-shadow: 1px 3px 18px #111111ab;
    letter-spacing: .2rem;
 }
 
 .ultimate .content p  {
     font-size: 1.7rem;
     
  }

  footer{
    padding: 2rem 9%;
    text-align: center;
  }

  footer .icons{
    margin-bottom: 1rem;
  }
  footer a{
    font-size: 2rem;
    margin-right: 1rem;
    color: #fff;
  }
  footer a:hover{
    color: #f7c602d1;
  }

  footer p{
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
  }

  .line{
    height: .1rem;
    background: #fff;
    width: 300px;
    margin: 1rem auto;
  }


@media (max-width: 911px) {
    html{
        font-size:55.5%;
    }

    .header{
        padding: 2rem !important;
    }
     section{
        padding: 2rem;
    }
    .home .content{
        width: 400px;
    }
}

@media (max-width: 769px) {
    
   .header{
    justify-content: space-between !important;
   }
   .navbar{
       position: absolute;
       top: 99%;
       background: #deb81b;
       width: 70%;
       height: 100vh;
       right: -999%;
       display: flex;
       align-items: flex-start;
       flex-direction: column;
       padding: 1rem;
       transition: .2s ease-in;
   }

   .navbar.active{
    right: 0;
   }
   .navbar a{
    color: #fff;
       padding: 5px;
   }
    .btn-agendar, #seacrh-desketop, .spinner,
    .spinner2,.content a:nth-child(2),
    .content a:nth-child(1) {
        display: none !important;
    }

    .icons-mobile-header{
        display: initial;
        font-size: 2rem;
    }

    .icons-mobile-header i{
       color: #fff;
       margin-left: .8rem;
    }

    .icons-mobile-header .bi-list{
        padding: .4rem .9rem;
        background: #fff;
        border-radius: .3rem;
        font-weight: bold;
        
        color: #060606 !important;
    }


    .pub-nav{
        display: flex;
        background: #fff;
        width: 90%;
        height: 37rem;
        margin-top: 6rem !important;
        margin-bottom: 3rem !important;
        margin: 0 auto;
    }
    .pub-nav img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home .content{
        width: 100%;
    }
    .service .container{
    
        grid-template-columns: repeat(auto-fit, 100%);
     }

     .ultimate{
        grid-template-columns: repeat(auto-fit, 100%);
       gap: 0;
       width: 100%;
     }

     .line{
       width: 100%;
      }

      .service h2{
        text-indent: 0;
        text-align: center;
    
    }

    .home .content a:nth-child(3) {
        display: initial;
     }
}


@media (max-width: 419px) {
    html{
        font-size:50%;
    }

    

}
